body {
  border: solid green 1px;
  box-shadow: 0 0 3px 3px rgb(5 11 70 / 30%);
  border-radius: 10px;
}

.bookingForm {
  padding: 2%;
  color: black;
  display: flex;
  flex-direction: column;
  width: fit-content;
  text-align: center;
  margin: 35px auto 0;
  background-color: rgba(100, 169, 234, 0.1);
}

.datecss {
  background-color: white;
  border: none;
  color: #0d0d0d;
  text-align: center;
  font-size: 18px;
  width: 30%;

  border: 2px solid #f6f6f6;
}

.textareacss {
  background-color: white;
  border: none;
  color: #0d0d0d;
  text-align: center;
  font-size: 18px;
  width: 30%;
  height: 150px;

  border: 2px solid #f6f6f6;
}

.fields {
  background-color: white;
  border: none;
  color: #0d0d0d;
  text-align: center;
  font-size: 18px;
  width: auto;

  border: 2px solid #f6f6f6;
}

#errorMsg {
  color: red;
  font-size: 22px;
}

#dataTag {
  color: darkgreen;
  font-size: 22px;
}

 button[type="submit"] {
  background: linear-gradient(45deg, rgb(156, 236, 37), rgb(19, 117, 215));
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 18px;
  margin: 3px;
  width: auto;
  border: 2px solid #f6f6f6;
} 

.inputlogo {
  width: 45%;
}

h2.active {
  color: #0d0d0d;
  border-bottom: 2px solid #006699;
}

h2 {
  text-align: center;
  font-size: 1em;
  font-weight: 600;
  text-transform: uppercase;
  display: inline-block;
  margin: 20px 8px 10px 8px;
  padding-bottom: 15px;
  color: black;
}

h1 {
  font-size: 1.5em;
}

#myList{
  text-align: center;
  font-size: 18px;
  
}

.timeP{
  font-size: 22px;
  text-align: center;
}


.buttonHome{
  margin-left: 5px;
  margin-top: 5px;
  width: 90px;
  height: 75px;
  background: linear-gradient(45deg, rgb(156, 236, 37), rgb(19, 117, 215));
  color: white;
  border-radius: var(--radius-2);
  font-size: var(--font-size-fluid-1);
  font-weight: var(--font-weight-7);
}

.buttonHome:hover {
  cursor: pointer;
  color: var(--blue-0);
  color: white;
  background: linear-gradient(45deg, rgb(37, 40, 236), rgb(179, 159, 15));
  border-radius: var(--radius-2);
}
.logo {
  position: absolute;
  top: 15px;
  right: 15px;
  height: 120px;
  text-align: center;
}
